<ul class="nav nav-tabs">
  <li role="presentation" ><a href="https://hw11-ahmed007.c9users.io/people">people</a></li>
  <li role="presentation"><a href="https://hw11-ahmed007.c9users.io/vehicles">vehicles</a></li>
  
</ul>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
<p id="notice"><%= notice %></p>

<p>
  <strong class="bg-primary">First name:</strong>
  <%= @person.first_name  %>
</p>

<p>
  <strong class="bg-primary">Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong class="bg-primary">Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong class="bg-primary">Date of birth:</strong>
  <%= @person.date_of_birth %>
</p>

<%= link_to 'Edit', edit_person_path(@person), class:"btn btn-info" %> |
<%= link_to 'Back', people_path , class:"btn btn-success" %>
</div>
  <div class="col-md-4"></div>
</div>